<h1> Favorite a place! </h1>

<%= form_for @favorite do |f| %>
    <%= f.label :priority_level %>
    <%# <%= f.number_field :priority_level %> <br> %>
    <%= f.hidden_field :user_id, value: @user.id %>
    
    <%= f.label :word_id, "Place: " %>
    <%= f.collection_select :place_id, @places, :id, :name %> <br>

    <%= f.submit "Favorite it!" %>
<% end %>